@tailwind components;
@tailwind utilities;

:root {
    --clr-primary: #ca006b;
    --clr-status-current: #42a5f5;
    --clr-status-planning: #f79a63;
    --clr-status-paused: #fa7a7a;
    --clr-status-completed: #7bd555;
    --clr-status-dropped: #e85d75;
}


/*Custom Scroll Bars */
* {
    --scrollbar-foreground: var(--clr-primary);
    --scrollbar-background: var(--clr-secondary);
    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

*::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 7px;
    /* Mostly for horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--scrollbar-foreground);
}

*::-webkit-scrollbar-track {
    /* Background */
    background: var(--scrollbar-background);
}


/* Activity / Home Bg CSS */
.activity {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 10;
}

@media (min-width: 640px) {
    .activity {
        grid-column: 1;
        grid-row: 1;
        z-index: 10;
    }
}


/* Card CSS */
.card--content {
    display: none;
}

.card--content.left-full {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card--content.right-full {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


.card--image:hover+.card--content {
    display: flex;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.notification {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0.25rem;
    background: greenyellow;
    box-shadow: 0px 0px 4px greenyellow;
}


.mediaListNotification {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    bottom: 0.5rem;
    left: 0.5rem;
    -webkit-box-shadow: 2px 2px 21px 4px rgba(0, 0, 0, 0.63);
    box-shadow: 2px 2px 21px 4px rgba(0, 0, 0, 0.63);
}

.mediaListNotification.current {
    background-color: var(--clr-status-current);
}

.mediaListNotification.planning {
    background-color: var(--clr-status-planning);
}

.mediaListNotification.paused {
    background-color: var(--clr-status-paused);
}

.mediaListNotification.completed {
    background-color: var(--clr-status-completed);
}

.mediaListNotification.dropped {
    background-color: var(--clr-status-dropped);
}

/* Anime Page CSS */

/* Banner Animations */
.banner--image {
    grid-column: 1/-1;
    grid-row: 1/-1;
    animation: bannerMove 30s alternate infinite linear;
}

@media (min-width: 600px) {

    .banner--image {
        animation: bannerMove 20s alternate infinite linear;
    }

}

@keyframes bannerMove {
    0% {
        object-position: left top;
    }

    100% {
        object-position: right bottom;
    }
}


.title--card {
    grid-column: 1/-1;
    grid-row: 2/-1;
}

@media (min-width: 1024px) {
    .title--card {
        grid-column: 2/5;
    }
}

.description--container {
    pointer-events: none;
}

.description--container.readMore {
    max-height: 170px;
    overflow: hidden;
    transition: max-height 200ms ease;
}

.description--container.readMore[open] {
    max-height: 45rem;
    overflow-y: auto
}

.description--container.readMore::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #121212 10%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: opacity 200ms ease;
}

.description--container.readMore[open]::before {
    opacity: 0;
}

.description--container.readMore::after {
    pointer-events: all;
    content: "Read More";
    position: absolute;
    bottom: 0.5rem;
    right: 50%;
    translate: 50%;
    cursor: pointer;
}

.description--container.readMore[open]::after {
    content: "Read Less";
}